<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Sales</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Sale', [:new, :admin, :sale], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Percent Off</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @sales %>
      </tbody>
    </table>

  </div>

</section>